ZTF Metadata metadata can be downloaded from :
    ??

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from astropy.time import Time

In [2]:
# Read ZTF metadata from file. ZTF table file includes multiple header lines throughout the file.
colnames = ['UT_START', 'sun', 'exp', 'filter', 'obstype', 'field', 'pid', 'ra', 'dec', 'slew', 'wait', 
            'fileroot', 'programpi', 'queue_comment']
ztf_meta = pd.read_table('ztf_exposures.tbl', delim_whitespace=True, comment='|', names=colnames)
print('all metadata = %d exp' % len(ztf_meta))
ztf_meta = ztf_meta.query('queue_comment != "calib"')
print('non calibration exp = %d exp' % len(ztf_meta))

all metadata = 72286 exp
non calibration exp = 63678 exp

In [3]:
# Pull out the times - must convert to str from 'object' format Pandas read.
times = np.array(ztf_meta.UT_START.values, 'str')
# Convert times to MJD units.
t = Time(np.array(ztf_meta.UT_START.values, 'str'), format='isot', scale='utc')
ztf_meta['mjd'] = t.mjd

In [5]:
cols = ['UT_START', 'mjd', 'ra', 'dec', 'filter', 'exp']
ztf_meta[cols][0:5]

                 UT_START           mjd        ra    dec  filter  exp
44  2018-03-01T05:32:29.1  58178.230892  123.8988  18.95       3   30
45  2018-03-01T05:33:21.2  58178.231495  123.8988  18.95       3   30
46  2018-03-01T05:34:13.4  58178.232100  123.8988  18.95       3   30
47  2018-03-01T05:35:05.7  58178.232705  123.8988  18.95       3   30
48  2018-03-01T05:35:57.8  58178.233308  123.8988  18.95       3   30